
.title{
	font-size: 32px;
	margin-bottom: 10px;
}

.actions {
	text-align: right;
 }
 
 .actions button {
	font: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid #8a2b06;
	padding: 0.5rem 2rem;
	border-radius: 25px;
	margin-left: 1rem;
 }
 
 .actions button:hover,
 .actions button:active {
	background-color: #5a1a01;
	border-color: #5a1a01;
	color: white;
 }
 
 .actions .button--alt {
	color: #8a2b06;
 }
 
 .actions .button {
	background-color: #8a2b06;
	color: white;
 }

 .button:disabled{
	background-color: #ccc;
	color: rgba(0, 0, 0, 0.75);
 }

 .button:disabled:hover, .button:disabled:active{
	background-color: #ccc;
	color: rgba(0, 0, 0, 0.75);
 }
 
 .form{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 15px;
 }

 .remember label {
	padding: 0 15px;
 }